<a href="https://colab.research.google.com/github/yenlung/Python-AI-Book/blob/main/%E5%86%92%E9%9A%AA_%E5%BC%B7%E5%8C%96%E5%AD%B8%E7%BF%92.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
from tensorflow.keras.utils import to_categorical

## 抓取data

In [ ]:
pip install finmind

Collecting finmind
  Downloading FinMind-1.5.5-py3-none-any.whl (48 kB)
     |████████████████████████████████| 48 kB 4.9 MB/s
Collecting pydantic>=1.6.1
  Downloading pydantic-1.9.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (10.9 MB)
     |████████████████████████████████| 10.9 MB 24.6 MB/s
Collecting pytest>=6.2.2
  Downloading pytest-7.1.1-py3-none-any.whl (297 kB)
     |████████████████████████████████| 297 kB 54.2 MB/s
Collecting loguru>=0.5.3
  Downloading loguru-0.6.0-py3-none-any.whl (58 kB)
     |████████████████████████████████| 58 kB 3.4 MB/s
Requirement already satisfied: numpy>=1.19.5 in /usr/local/lib/python3.7/dist-packages (from finmind) (1.21.5)
Collecting lxml>=4.6.3
  Downloading lxml-4.8.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 22.4 MB/s
Collecting ipython>=7.16.1
  Downloading ipython-7.32.0-py3-none-any.whl (793 kB)
     |████████████████████████████████| 793 kB 46.6 MB/s
Requirement already satisfied: setuptools>=49.2.1 in /usr/local/lib/python3.7/dist-packages (from finmind) (57.4.0)
Collecting pyecharts>=1.9.0
  Downloading pyecharts-1.9.1-py3-none-any.whl (135 kB)
     |████████████████████████████████| 135 kB 44.8 MB/s
Collecting aiohttp>=3.7.4.post0
  Downloading aiohttp-3.8.1-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.1 MB)
     |████████████████████████████████| 1.1 MB 20.5 MB/s
Collecting flask>=2.0.1
  Downloading Flask-2.1.0-py3-none-any.whl (95 kB)
     |████████████████████████████████| 95 kB 3.8 MB/s
Requirement already satisfied: importlib-metadata>=4.8.1 in /usr/local/lib/python3.7/dist-packages (from finmind) (4.11.3)
Collecting ta~=0.5.25
  Downloading ta-0.5.25.tar.gz (20 kB)
Requirement already satisfied: requests>=2.23.0 in /usr/local/lib/python3.7/dist-packages (from finmind) (2.23.0)
Requirement already satisfied: pandas>=1.1.5 in /usr/local/lib/python3.7/dist-packages (from finmind) (1.3.5)
Collecting async-timeout<5.0,>=4.0.0a3
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Collecting aiosignal>=1.1.2
  Downloading aiosignal-1.2.0-py3-none-any.whl (8.2 kB)
Collecting multidict<7.0,>=4.5
  Downloading multidict-6.0.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (94 kB)
     |████████████████████████████████| 94 kB 4.3 MB/s
Collecting frozenlist>=1.1.1
  Downloading frozenlist-1.3.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (144 kB)
     |████████████████████████████████| 144 kB 78.9 MB/s
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp>=3.7.4.post0->finmind) (21.4.0)
Collecting yarl<2.0,>=1.0
  Downloading yarl-1.7.2-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (271 kB)
     |████████████████████████████████| 271 kB 24.6 MB/s
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from aiohttp>=3.7.4.post0->finmind) (3.10.0.2)
Collecting asynctest==0.13.0
  Downloading asynctest-0.13.0-py3-none-any.whl (26 kB)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp>=3.7.4.post0->finmind) (2.0.12)
Collecting itsdangerous>=2.0
  Downloading itsdangerous-2.1.2-py3-none-any.whl (15 kB)
Collecting click>=8.0
  Downloading click-8.1.0-py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 6.8 MB/s
Collecting Werkzeug>=2.0
  Downloading Werkzeug-2.1.0-py3-none-any.whl (224 kB)
     |████████████████████████████████| 224 kB 76.4 MB/s
Collecting Jinja2>=3.0
  Downloading Jinja2-3.1.1-py3-none-any.whl (132 kB)
     |████████████████████████████████| 132 kB 77.4 MB/s
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.8.1->finmind) (3.7.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.7/dist-packages (from ipython>=7.16.1->finmind) (0.1.3)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.7/dist-packages (from ipython>=7.16.1->finmind) (0.18.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.7/dist-packages (from ipython>=7.16.1->finmind) (0.2.0)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython>=7.16.1->finmind) (5.1.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython>=7.16.1->finmind) (4.4.2)
Collecting prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0
  Downloading prompt_toolkit-3.0.28-py3-none-any.whl (380 kB)
     |████████████████████████████████| 380 kB 74.6 MB/s
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython>=7.16.1->finmind) (2.6.1)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.7/dist-packages (from ipython>=7.16.1->finmind) (4.8.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython>=7.16.1->finmind) (0.7.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from jedi>=0.16->ipython>=7.16.1->finmind) (0.8.3)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.7/dist-packages (from Jinja2>=3.0->flask>=2.0.1->finmind) (2.0.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.1.5->finmind) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.1.5->finmind) (2.8.2)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect>4.3->ipython>=7.16.1->finmind) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=7.16.1->finmind) (0.2.5)
Collecting simplejson
  Downloading simplejson-3.17.6-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (130 kB)
     |████████████████████████████████| 130 kB 62.9 MB/s
Requirement already satisfied: prettytable in /usr/local/lib/python3.7/dist-packages (from pyecharts>=1.9.0->finmind) (3.2.0)
Requirement already satisfied: tomli>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from pytest>=6.2.2->finmind) (2.0.1)
Requirement already satisfied: iniconfig in /usr/local/lib/python3.7/dist-packages (from pytest>=6.2.2->finmind) (1.1.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from pytest>=6.2.2->finmind) (21.3)
Collecting pluggy<2.0,>=0.12
  Downloading pluggy-1.0.0-py2.py3-none-any.whl (13 kB)
Requirement already satisfied: py>=1.8.2 in /usr/local/lib/python3.7/dist-packages (from pytest>=6.2.2->finmind) (1.11.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.1.5->finmind) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.23.0->finmind) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.23.0->finmind) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.23.0->finmind) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.23.0->finmind) (2.10)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->pytest>=6.2.2->finmind) (3.0.7)
Building wheels for collected packages: ta
  Building wheel for ta (setup.py) ... done
  Created wheel for ta: filename=ta-0.5.25-py3-none-any.whl size=24878 sha256=e5b99db2859fc2a162ca27274d478d91f6d6a02d53f0b846efd7213ec20cb008
  Stored in directory: /root/.cache/pip/wheels/da/58/47/e9a2cbcf4374b34f18c4207eeab57571849f3c9dc858848e89
Successfully built ta
Installing collected packages: multidict, frozenlist, yarl, Werkzeug, simplejson, prompt-toolkit, pluggy, Jinja2, itsdangerous, click, asynctest, async-timeout, aiosignal, ta, pytest, pyecharts, pydantic, lxml, loguru, ipython, flask, aiohttp, finmind
  Attempting uninstall: Werkzeug
    Found existing installation: Werkzeug 1.0.1
    Uninstalling Werkzeug-1.0.1:
      Successfully uninstalled Werkzeug-1.0.1
  Attempting uninstall: prompt-toolkit
    Found existing installation: prompt-toolkit 1.0.18
    Uninstalling prompt-toolkit-1.0.18:
      Successfully uninstalled prompt-toolkit-1.0.18
  Attempting uninstall: pluggy
    Found existing installation: pluggy 0.7.1
    Uninstalling pluggy-0.7.1:
      Successfully uninstalled pluggy-0.7.1
  Attempting uninstall: Jinja2
    Found existing installation: Jinja2 2.11.3
    Uninstalling Jinja2-2.11.3:
      Successfully uninstalled Jinja2-2.11.3
  Attempting uninstall: itsdangerous
    Found existing installation: itsdangerous 1.1.0
    Uninstalling itsdangerous-1.1.0:
      Successfully uninstalled itsdangerous-1.1.0
  Attempting uninstall: click
    Found existing installation: click 7.1.2
    Uninstalling click-7.1.2:
      Successfully uninstalled click-7.1.2
  Attempting uninstall: pytest
    Found existing installation: pytest 3.6.4
    Uninstalling pytest-3.6.4:
      Successfully uninstalled pytest-3.6.4
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
  Attempting uninstall: ipython
    Found existing installation: ipython 5.5.0
    Uninstalling ipython-5.5.0:
      Successfully uninstalled ipython-5.5.0
  Attempting uninstall: flask
    Found existing installation: Flask 1.1.4
    Uninstalling Flask-1.1.4:
      Successfully uninstalled Flask-1.1.4
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
jupyter-console 5.2.0 requires prompt-toolkit<2.0.0,>=1.0.0, but you have prompt-toolkit 3.0.28 which is incompatible.
google-colab 1.0.0 requires ipython~=5.5.0, but you have ipython 7.32.0 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed Jinja2-3.1.1 Werkzeug-2.1.0 aiohttp-3.8.1 aiosignal-1.2.0 async-timeout-4.0.2 asynctest-0.13.0 click-8.1.0 finmind-1.5.5 flask-2.1.0 frozenlist-1.3.0 ipython-7.32.0 itsdangerous-2.1.2 loguru-0.6.0 lxml-4.8.0 multidict-6.0.2 pluggy-1.0.0 prompt-toolkit-3.0.28 pydantic-1.9.0 pyecharts-1.9.1 pytest-7.1.1 simplejson-3.17.6 ta-0.5.25 yarl-1.7.2

In [ ]:
# 取得股價
from FinMind.data import DataLoader

In [ ]:
dl = DataLoader()
# 下載台股股價資料
stock_data = dl.taiwan_stock_daily(
    stock_id='2330', start_date='2010-01-01', end_date='2021-12-31')

In [ ]:
stock_data

,date,stock_id,Trading_Volume,Trading_money,open,max,min,close,spread,Trading_turnover
0,2010-01-04,2330,39511138,2557720928,65.0,65.0,64.0,64.9,0.4,8255
1,2010-01-05,2330,38394084,2464115096,65.0,65.1,63.9,64.5,-0.4,9205
2,2010-01-06,2330,52734385,3390698544,64.5,64.9,63.7,64.9,0.4,12597
3,2010-01-07,2330,53294614,3437221996,64.9,65.0,64.2,64.2,-0.7,11195
4,2010-01-08,2330,48047497,3068341466,63.5,64.3,63.5,64.0,-0.2,9804
...,...,...,...,...,...,...,...,...,...,...
2949,2021-12-24,2330,12008673,7276331245,606.0,609.0,604.0,604.0,-2.0,10444
2950,2021-12-27,2330,16771900,10193462167,604.0,610.0,604.0,606.0,2.0,16637
2951,2021-12-28,2330,35156339,21569506434,610.0,615.0,610.0,615.0,9.0,36241
2952,2021-12-29,2330,25604320,15788043027,615.0,619.0,614.0,616.0,1.0,28804
2953,2021-12-30,2330,20522055,12654016133,619.0,620.0,615.0,615.0,-1.0,15565

In [ ]:
#選取所需的欄位
stock_data=stock_data[['date','open','max','min','close']]

In [ ]:
#重新命名表格名稱
stock_data.columns=['TIME','OPEN','MAX','MIN','CLOSE']

In [ ]:
stock_data = stock_data.set_index("TIME")
stock_data

             OPEN    MAX    MIN  CLOSE
TIME
2010-01-04   65.0   65.0   64.0   64.9
2010-01-05   65.0   65.1   63.9   64.5
2010-01-06   64.5   64.9   63.7   64.9
2010-01-07   64.9   65.0   64.2   64.2
2010-01-08   63.5   64.3   63.5   64.0
...           ...    ...    ...    ...
2021-12-24  606.0  609.0  604.0  604.0
2021-12-27  604.0  610.0  604.0  606.0
2021-12-28  610.0  615.0  610.0  615.0
2021-12-29  615.0  619.0  614.0  616.0
2021-12-30  619.0  620.0  615.0  615.0

[2954 rows x 4 columns]

In [ ]:
stock_data.to_csv('stock_data.csv')

## 建立Q表設定

In [ ]:
def q_table(table_name, state_data, next_state_data):
  table_name = pd.DataFrame(columns=['state','action','reward','next_state','q'])
  table_name['state'] = state_data
  table_name['next_state'] = next_state_data
  return table_name

## 交易設定

In [ ]:
#actions
# Hold:0, Buy:1, Sell:2
action = [0, 1, 2]

In [ ]:
# 修改交易
def transaction(loop_num1, loop_num2, table_name):

  #交易初始設定
  hold_money=100000
  hold_money_previous=hold_money
  hold_num=0 
  hold_num_previous=0
  buy_price=0

  for i in range(loop_num1,loop_num2): 
    if table_name['action'][i] ==1 and hold_money_previous >0: # Buy
      sell_num=0
      buy_num=0
      buy_num=hold_money/table_name.state[i+1].iloc[-1]['CLOSE'] # 買入股數
      hold_money=0
      hold_num+=buy_num
      #買入價格
      buy_price = table_name.state[i+1].iloc[-1]['CLOSE']
      # (當期總價值-上一期價值)
      table_name.reward[i]=(hold_money+(hold_num * table_name.state[i+1].iloc[-1]['CLOSE']))/(hold_money_previous + hold_num_previous*table_name.state[i].iloc[-1]['CLOSE'])-1
      hold_money_previous=hold_money
      hold_num_previous=hold_num

    elif table_name['action'][i] ==2 and (table_name.state[i].iloc[-1]['CLOSE']-buy_price)/buy_price >= 0.02: # Sell # 漲多少才賣出
      buy_num=0
      sell_num=hold_num
      hold_money+=sell_num * table_name.state[i+1].iloc[-1]['CLOSE'] # 把股數全數賣出
      hold_num=0
      table_name.reward[i]=(hold_money+(hold_num * table_name.state[i+1].iloc[-1]['CLOSE']))/(hold_money_previous + hold_num_previous*table_name.state[i].iloc[-1]['CLOSE'])-1
      hold_money_previous=hold_money
      hold_num_previous=hold_num

    else: # 沒有交易
      table_name['action'][i] =0
      buy_num=0
      sell_num=0
      table_name.reward[i]=(hold_money+(hold_num * table_name.state[i+1].iloc[-1]['CLOSE']))/(hold_money_previous + hold_num_previous*table_name.state[i].iloc[-1]['CLOSE'])-1
      hold_money_previous=hold_money
      hold_num_previous=hold_num

    table_name.q[i] = table_name.reward[i]
  
  return table_name

## Data放入Q表

In [ ]:
state_data=[]
next_state_data=[]

In [ ]:
# 資料處理成20天一筆
for i in range(len(stock_data)):
  state_data.append(stock_data.iloc[i:i+20,:])
  next_state_data.append(stock_data.iloc[i+1:i+21,:])

In [ ]:
# 建立Q表：df1
df1 = q_table('q_table', state_data, next_state_data)
df1

,state,action,reward,next_state,q
0,OPEN MAX MIN CLOSE TIME ...,NaN,NaN,OPEN MAX MIN CLOSE TIME ...,NaN
1,OPEN MAX MIN CLOSE TIME ...,NaN,NaN,OPEN MAX MIN CLOSE TIME ...,NaN
2,OPEN MAX MIN CLOSE TIME ...,NaN,NaN,OPEN MAX MIN CLOSE TIME ...,NaN
3,OPEN MAX MIN CLOSE TIME ...,NaN,NaN,OPEN MAX MIN CLOSE TIME ...,NaN
4,OPEN MAX MIN CLOSE TIME ...,NaN,NaN,OPEN MAX MIN CLOSE TIME ...,NaN
...,...,...,...,...,...
2949,OPEN MAX MIN CLOSE TIME ...,NaN,NaN,OPEN MAX MIN CLOSE TIME ...,NaN
2950,OPEN MAX MIN CLOSE TIME ...,NaN,NaN,OPEN MAX MIN CLOSE TIME ...,NaN
2951,OPEN MAX MIN CLOSE TIME ...,NaN,NaN,OPEN MAX MIN CLOSE TIME ...,NaN
2952,OPEN MAX MIN CLOSE TIME ...,NaN,NaN,OPEN MAX MIN CLOSE TIME ...,NaN
2953,OPEN MAX MIN CLOSE TIME ...,NaN,NaN,"Empty DataFrame Columns: [OPEN, MAX, MIN, CLOS...",NaN

In [ ]:
df1.state[2690]

             OPEN    MAX    MIN  CLOSE
TIME
2020-12-04  498.5  505.0  497.5  503.0
2020-12-07  512.0  515.0  506.0  514.0
2020-12-08  514.0  525.0  509.0  524.0
2020-12-09  521.0  524.0  520.0  520.0
2020-12-10  511.0  515.0  510.0  512.0
2020-12-11  517.0  517.0  505.0  516.0
2020-12-14  512.0  513.0  508.0  508.0
2020-12-15  507.0  510.0  504.0  504.0
2020-12-16  509.0  515.0  507.0  512.0
2020-12-17  515.0  515.0  508.0  508.0
2020-12-18  508.0  512.0  507.0  510.0
2020-12-21  512.0  517.0  508.0  516.0
2020-12-22  512.0  516.0  509.0  509.0
2020-12-23  508.0  511.0  506.0  509.0
2020-12-24  511.0  512.0  508.0  510.0
2020-12-25  514.0  515.0  510.0  511.0
2020-12-28  512.0  515.0  509.0  515.0
2020-12-29  515.0  517.0  513.0  515.0
2020-12-30  516.0  525.0  514.0  525.0
2020-12-31  526.0  530.0  524.0  530.0

## Q表執行交易

In [ ]:
# Q表動作：隨機動作
for i in range(len(df1)):
  df1["action"][i] = np.random.choice(3)

In [ ]:
# Q表：計算reward、q
transaction(0,len(df1)-1,df1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:34: RuntimeWarning: divide by zero encountered in double_scalars

,state,action,reward,next_state,q
0,OPEN MAX MIN CLOSE TIME ...,0,0.0,OPEN MAX MIN CLOSE TIME ...,0.0
1,OPEN MAX MIN CLOSE TIME ...,2,0.0,OPEN MAX MIN CLOSE TIME ...,0.0
2,OPEN MAX MIN CLOSE TIME ...,1,0.0,OPEN MAX MIN CLOSE TIME ...,0.0
3,OPEN MAX MIN CLOSE TIME ...,0,-0.011706,OPEN MAX MIN CLOSE TIME ...,-0.011706
4,OPEN MAX MIN CLOSE TIME ...,0,-0.032149,OPEN MAX MIN CLOSE TIME ...,-0.032149
...,...,...,...,...,...
2949,OPEN MAX MIN CLOSE TIME ...,0,0.0,OPEN MAX MIN CLOSE TIME ...,0.0
2950,OPEN MAX MIN CLOSE TIME ...,0,0.0,OPEN MAX MIN CLOSE TIME ...,0.0
2951,OPEN MAX MIN CLOSE TIME ...,0,0.0,OPEN MAX MIN CLOSE TIME ...,0.0
2952,OPEN MAX MIN CLOSE TIME ...,0,0.0,OPEN MAX MIN CLOSE TIME ...,0.0
2953,OPEN MAX MIN CLOSE TIME ...,1,NaN,"Empty DataFrame Columns: [OPEN, MAX, MIN, CLOS...",NaN

In [ ]:
df1

,state,action,reward,next_state,q
0,OPEN MAX MIN CLOSE TIME ...,0,0.0,OPEN MAX MIN CLOSE TIME ...,0.0
1,OPEN MAX MIN CLOSE TIME ...,2,0.0,OPEN MAX MIN CLOSE TIME ...,0.0
2,OPEN MAX MIN CLOSE TIME ...,1,0.0,OPEN MAX MIN CLOSE TIME ...,0.0
3,OPEN MAX MIN CLOSE TIME ...,0,-0.011706,OPEN MAX MIN CLOSE TIME ...,-0.011706
4,OPEN MAX MIN CLOSE TIME ...,0,-0.032149,OPEN MAX MIN CLOSE TIME ...,-0.032149
...,...,...,...,...,...
2949,OPEN MAX MIN CLOSE TIME ...,0,0.0,OPEN MAX MIN CLOSE TIME ...,0.0
2950,OPEN MAX MIN CLOSE TIME ...,0,0.0,OPEN MAX MIN CLOSE TIME ...,0.0
2951,OPEN MAX MIN CLOSE TIME ...,0,0.0,OPEN MAX MIN CLOSE TIME ...,0.0
2952,OPEN MAX MIN CLOSE TIME ...,0,0.0,OPEN MAX MIN CLOSE TIME ...,0.0
2953,OPEN MAX MIN CLOSE TIME ...,1,NaN,"Empty DataFrame Columns: [OPEN, MAX, MIN, CLOS...",NaN

## 訓練資料train

In [ ]:
#2020/12/04-2020/12/31
df1['state'][2690]

             OPEN    MAX    MIN  CLOSE
TIME
2020-12-04  498.5  505.0  497.5  503.0
2020-12-07  512.0  515.0  506.0  514.0
2020-12-08  514.0  525.0  509.0  524.0
2020-12-09  521.0  524.0  520.0  520.0
2020-12-10  511.0  515.0  510.0  512.0
2020-12-11  517.0  517.0  505.0  516.0
2020-12-14  512.0  513.0  508.0  508.0
2020-12-15  507.0  510.0  504.0  504.0
2020-12-16  509.0  515.0  507.0  512.0
2020-12-17  515.0  515.0  508.0  508.0
2020-12-18  508.0  512.0  507.0  510.0
2020-12-21  512.0  517.0  508.0  516.0
2020-12-22  512.0  516.0  509.0  509.0
2020-12-23  508.0  511.0  506.0  509.0
2020-12-24  511.0  512.0  508.0  510.0
2020-12-25  514.0  515.0  510.0  511.0
2020-12-28  512.0  515.0  509.0  515.0
2020-12-29  515.0  517.0  513.0  515.0
2020-12-30  516.0  525.0  514.0  525.0
2020-12-31  526.0  530.0  524.0  530.0

In [ ]:
data_train = df1[:2690].copy()
# 1204:2020/12/04-2020/12/31
data_train

,state,action,reward,next_state,q
0,OPEN MAX MIN CLOSE TIME ...,0,0.0,OPEN MAX MIN CLOSE TIME ...,0.0
1,OPEN MAX MIN CLOSE TIME ...,2,0.0,OPEN MAX MIN CLOSE TIME ...,0.0
2,OPEN MAX MIN CLOSE TIME ...,1,0.0,OPEN MAX MIN CLOSE TIME ...,0.0
3,OPEN MAX MIN CLOSE TIME ...,0,-0.011706,OPEN MAX MIN CLOSE TIME ...,-0.011706
4,OPEN MAX MIN CLOSE TIME ...,0,-0.032149,OPEN MAX MIN CLOSE TIME ...,-0.032149
...,...,...,...,...,...
2685,OPEN MAX MIN CLOSE TIME ...,0,0.001961,OPEN MAX MIN CLOSE TIME ...,0.001961
2686,OPEN MAX MIN CLOSE TIME ...,0,0.007828,OPEN MAX MIN CLOSE TIME ...,0.007828
2687,OPEN MAX MIN CLOSE TIME ...,0,0.0,OPEN MAX MIN CLOSE TIME ...,0.0
2688,OPEN MAX MIN CLOSE TIME ...,0,0.019417,OPEN MAX MIN CLOSE TIME ...,0.019417
2689,OPEN MAX MIN CLOSE TIME ...,2,0.009524,OPEN MAX MIN CLOSE TIME ...,0.009524

In [ ]:
type(df1.state[0])

pandas.core.frame.DataFrame

In [ ]:
# 正規化，當期狀態20天價格/前一期最後一天收盤價格(價格相對)
# 2010.01.04
data_train.state[0] = data_train.state[0]/54.5 #2009年12月31日 開64.40 高64.50 低63.90 收64.50
for i in range(1,len(data_train)):
  data_train.state[i] = data_train.state[i]/df1.state[i-1].CLOSE.iloc[-1]
for i in range(0,len(data_train)):
  data_train.next_state[i] = data_train.next_state[i]/df1.state[i].CLOSE.iloc[-1]

In [ ]:
# data_train：state, next_state拉平
for i in range(len(data_train.state)):
  data_train.state[i] = np.array(data_train.state[i])
  data_train.state[i] = data_train.state[i].flatten()
for i in range(len(data_train.next_state)):
  data_train.next_state[i]=np.array(data_train.next_state[i])
  data_train.next_state[i] = data_train.next_state[i].flatten()

In [ ]:
data_train

,state,action,reward,next_state,q
0,"[1.1926605504587156, 1.1926605504587156, 1.174...",0,0.0,"[1.056910569105691, 1.0585365853658535, 1.0390...",0.0
1,"[1.056910569105691, 1.0585365853658535, 1.0390...",2,0.0,"[1.0785953177257526, 1.085284280936455, 1.0652...",0.0
2,"[1.0785953177257526, 1.085284280936455, 1.0652...",1,0.0,"[1.1, 1.1016949152542372, 1.088135593220339, 1...",0.0
3,"[1.1, 1.1016949152542372, 1.088135593220339, 1...",0,-0.011706,"[1.0618729096989967, 1.0752508361204014, 1.061...",-0.011706
4,"[1.0618729096989967, 1.0752508361204014, 1.061...",0,-0.032149,"[1.0829103214890017, 1.098138747884941, 1.0744...",-0.032149
...,...,...,...,...,...
2685,"[0.9577603143418467, 0.9666011787819253, 0.955...",0,0.001961,"[0.9666666666666667, 0.9676470588235294, 0.942...",0.001961
2686,"[0.9666666666666667, 0.9676470588235294, 0.942...",0,0.007828,"[0.9579256360078278, 0.958904109589041, 0.9461...",0.007828
2687,"[0.9579256360078278, 0.958904109589041, 0.9461...",0,0.0,"[0.9699029126213592, 0.970873786407767, 0.9582...",0.0
2688,"[0.9699029126213592, 0.970873786407767, 0.9582...",0,0.019417,"[0.9699029126213592, 0.9699029126213592, 0.961...",0.019417
2689,"[0.9699029126213592, 0.9699029126213592, 0.961...",2,0.009524,"[0.9495238095238095, 0.9619047619047619, 0.947...",0.009524

In [ ]:
x_train_state = data_train.state
x_train_state

0       [1.1926605504587156, 1.1926605504587156, 1.174...
1       [1.056910569105691, 1.0585365853658535, 1.0390...
2       [1.0785953177257526, 1.085284280936455, 1.0652...
3       [1.1, 1.1016949152542372, 1.088135593220339, 1...
4       [1.0618729096989967, 1.0752508361204014, 1.061...
                              ...
2685    [0.9577603143418467, 0.9666011787819253, 0.955...
2686    [0.9666666666666667, 0.9676470588235294, 0.942...
2687    [0.9579256360078278, 0.958904109589041, 0.9461...
2688    [0.9699029126213592, 0.970873786407767, 0.9582...
2689    [0.9699029126213592, 0.9699029126213592, 0.961...
Name: state, Length: 2690, dtype: object

In [ ]:
# 一個一個array合成一個大array
x_train_state =np.stack(x_train_state)
x_train_state

array([[1.19266055, 1.19266055, 1.17431193, ..., 1.12844037, 1.08990826,
        1.12844037],
       [1.05691057, 1.05853659, 1.03902439, ..., 0.98699187, 0.96747967,
        0.97235772],
       [1.07859532, 1.08528428, 1.06521739, ..., 1.01003344, 0.98662207,
        0.98662207],
       ...,
       [0.95792564, 0.95890411, 0.94618395, ..., 1.00782779, 0.99608611,
        1.00782779],
       [0.96990291, 0.97087379, 0.95825243, ..., 1.0038835 , 0.9961165 ,
        1.        ],
       [0.96990291, 0.96990291, 0.96116505, ..., 1.01941748, 0.99805825,
        1.01941748]])

In [ ]:
x_train_state.shape

(2690, 80)

In [ ]:
# 丟入模型，Q表動作one-hot encoding
x_train_a = to_categorical(data_train.action)

# 丟入模型，state+動作合在一起
merged_x_train = np.concatenate((x_train_state, x_train_a), axis=1)

In [ ]:
data_train.groupby('action').count()

        state  reward  next_state     q
action
0        2523    2523        2523  2523
1          59      59          59    59
2         108     108         108   108

In [ ]:
x_train_a

array([[1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       ...,
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.]], dtype=float32)

In [ ]:
merged_x_train

array([[1.19266055, 1.19266055, 1.17431193, ..., 1.        , 0.        ,
        0.        ],
       [1.05691057, 1.05853659, 1.03902439, ..., 0.        , 0.        ,
        1.        ],
       [1.07859532, 1.08528428, 1.06521739, ..., 0.        , 1.        ,
        0.        ],
       ...,
       [0.95792564, 0.95890411, 0.94618395, ..., 1.        , 0.        ,
        0.        ],
       [0.96990291, 0.97087379, 0.95825243, ..., 1.        , 0.        ,
        0.        ],
       [0.96990291, 0.96990291, 0.96116505, ..., 0.        , 0.        ,
        1.        ]])

In [ ]:
# y
y_train = data_train.q.values
y_train

array([0.0, 0.0, 0.0, ..., 0.0, 0.01941747572815533, 0.00952380952380949],
      dtype=object)

In [ ]:
# float64 修改成 float32
merged_x_train = np.float32(merged_x_train)
y_train = np.float32(y_train)

## 建立Model

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import Dropout, Activation, Flatten
from tensorflow.keras.layers import BatchNormalization
from tensorflow.keras.optimizers import Adam, RMSprop, SGD
from tensorflow.keras.models import load_model

In [ ]:
#get number of columns in training data
n_cols = merged_x_train.shape[1]
n_cols

83

In [ ]:
# create model
q_model = Sequential()
q_model.add(Dense(20, input_dim= n_cols, activation='relu'))
q_model.add(Dropout(0.5))
q_model.add(Dense(10, activation='relu'))
q_model.add(Dropout(0.5))
q_model.add(Dense(10, activation='relu'))
q_model.add(BatchNormalization(momentum=0.9, epsilon=0.001))
q_model.add(Dense(1, activation='tanh'))

# Compile model
q_model.compile(loss='mse', optimizer=SGD(lr=0.001))

/usr/local/lib/python3.7/dist-packages/keras/optimizer_v2/gradient_descent.py:102: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super(SGD, self).__init__(name, **kwargs)

In [ ]:
  # Fit the model 
  q_model.fit(merged_x_train, y_train, validation_split=0.1, epochs=50, batch_size=16, verbose=1)

Epoch 1/50
152/152 [==============================] - 3s 5ms/step - loss: 0.2108 - val_loss: 0.0103
Epoch 2/50
152/152 [==============================] - 1s 3ms/step - loss: 0.1398 - val_loss: 0.0227
Epoch 3/50
152/152 [==============================] - 1s 4ms/step - loss: 0.0921 - val_loss: 0.0187
Epoch 4/50
152/152 [==============================] - 0s 3ms/step - loss: 0.0742 - val_loss: 0.0261
Epoch 5/50
152/152 [==============================] - 1s 4ms/step - loss: 0.0591 - val_loss: 0.0218
Epoch 6/50
152/152 [==============================] - 0s 3ms/step - loss: 0.0481 - val_loss: 0.0329
Epoch 7/50
152/152 [==============================] - 1s 4ms/step - loss: 0.0404 - val_loss: 0.0200
Epoch 8/50
152/152 [==============================] - 1s 4ms/step - loss: 0.0368 - val_loss: 0.0121
Epoch 9/50
152/152 [==============================] - 1s 4ms/step - loss: 0.0341 - val_loss: 0.0099
Epoch 10/50
152/152 [==============================] - 1s 5ms/step - loss: 0.0299 - val_loss: 0.0084
Epoch 11/50
152/152 [==============================] - 1s 4ms/step - loss: 0.0274 - val_loss: 0.0061
Epoch 12/50
152/152 [==============================] - 1s 4ms/step - loss: 0.0237 - val_loss: 0.0056
Epoch 13/50
152/152 [==============================] - 1s 4ms/step - loss: 0.0228 - val_loss: 0.0047
Epoch 14/50
152/152 [==============================] - 1s 4ms/step - loss: 0.0197 - val_loss: 0.0028
Epoch 15/50
152/152 [==============================] - 1s 5ms/step - loss: 0.0200 - val_loss: 0.0020
Epoch 16/50
152/152 [==============================] - 1s 4ms/step - loss: 0.0191 - val_loss: 0.0016
Epoch 17/50
152/152 [==============================] - 1s 4ms/step - loss: 0.0170 - val_loss: 0.0019
Epoch 18/50
152/152 [==============================] - 1s 4ms/step - loss: 0.0142 - val_loss: 0.0017
Epoch 19/50
152/152 [==============================] - 1s 3ms/step - loss: 0.0141 - val_loss: 0.0023
Epoch 20/50
152/152 [==============================] - 0s 2ms/step - loss: 0.0130 - val_loss: 0.0022
Epoch 21/50
152/152 [==============================] - 0s 2ms/step - loss: 0.0108 - val_loss: 0.0012
Epoch 22/50
152/152 [==============================] - 0s 2ms/step - loss: 0.0103 - val_loss: 7.4645e-04
Epoch 23/50
152/152 [==============================] - 0s 2ms/step - loss: 0.0125 - val_loss: 5.5558e-04
Epoch 24/50
152/152 [==============================] - 0s 2ms/step - loss: 0.0086 - val_loss: 0.0010
Epoch 25/50
152/152 [==============================] - 0s 2ms/step - loss: 0.0083 - val_loss: 3.5013e-04
Epoch 26/50
152/152 [==============================] - 0s 2ms/step - loss: 0.0086 - val_loss: 5.8980e-04
Epoch 27/50
152/152 [==============================] - 0s 2ms/step - loss: 0.0083 - val_loss: 4.7909e-04
Epoch 28/50
152/152 [==============================] - 0s 2ms/step - loss: 0.0076 - val_loss: 3.7093e-04
Epoch 29/50
152/152 [==============================] - 0s 2ms/step - loss: 0.0073 - val_loss: 3.7013e-04
Epoch 30/50
152/152 [==============================] - 0s 2ms/step - loss: 0.0057 - val_loss: 5.2686e-04
Epoch 31/50
152/152 [==============================] - 0s 2ms/step - loss: 0.0055 - val_loss: 3.7066e-04
Epoch 32/50
152/152 [==============================] - 0s 2ms/step - loss: 0.0057 - val_loss: 3.4120e-04
Epoch 33/50
152/152 [==============================] - 0s 2ms/step - loss: 0.0060 - val_loss: 3.3767e-04
Epoch 34/50
152/152 [==============================] - 0s 2ms/step - loss: 0.0046 - val_loss: 3.8737e-04
Epoch 35/50
152/152 [==============================] - 0s 2ms/step - loss: 0.0045 - val_loss: 3.3949e-04
Epoch 36/50
152/152 [==============================] - 0s 2ms/step - loss: 0.0042 - val_loss: 3.4018e-04
Epoch 37/50
152/152 [==============================] - 0s 2ms/step - loss: 0.0044 - val_loss: 3.8280e-04
Epoch 38/50
152/152 [==============================] - 0s 2ms/step - loss: 0.0047 - val_loss: 3.4202e-04
Epoch 39/50
152/152 [==============================] - 0s 2ms/step - loss: 0.0042 - val_loss: 3.3704e-04
Epoch 40/50
152/152 [==============================] - 0s 2ms/step - loss: 0.0033 - val_loss: 3.8223e-04
Epoch 41/50
152/152 [==============================] - 0s 2ms/step - loss: 0.0036 - val_loss: 3.5262e-04
Epoch 42/50
152/152 [==============================] - 0s 2ms/step - loss: 0.0034 - val_loss: 3.3899e-04
Epoch 43/50
152/152 [==============================] - 0s 2ms/step - loss: 0.0032 - val_loss: 3.4036e-04
Epoch 44/50
152/152 [==============================] - 0s 2ms/step - loss: 0.0034 - val_loss: 3.4213e-04
Epoch 45/50
152/152 [==============================] - 0s 2ms/step - loss: 0.0036 - val_loss: 3.5938e-04
Epoch 46/50
152/152 [==============================] - 0s 2ms/step - loss: 0.0031 - val_loss: 3.4200e-04
Epoch 47/50
152/152 [==============================] - 0s 2ms/step - loss: 0.0030 - val_loss: 3.8145e-04
Epoch 48/50
152/152 [==============================] - 0s 2ms/step - loss: 0.0030 - val_loss: 3.4003e-04
Epoch 49/50
152/152 [==============================] - 0s 2ms/step - loss: 0.0028 - val_loss: 4.8878e-04
Epoch 50/50
152/152 [==============================] - 0s 2ms/step - loss: 0.0023 - val_loss: 3.4703e-04

In [ ]:
# #load model
# q_model=load_model("q_model_1")
# q_model = tf.keras.models.load_model('drive/MyDrive/q_model_1')

## 計算最大q值

In [ ]:
a1 = np.array([[1.,0.,0.]]*2690) #1205)
a2 = np.array([[0.,1.,0.]]*2690)
a3 = np.array([[0.,0.,1.]]*2690)

In [ ]:
# data_train St+1
next_state_data =data_train.next_state
next_state_data

# 一個一個array合成一個大array
next_state_data =np.stack(next_state_data) 
next_state_data.shape

(2690, 80)

In [ ]:
next_state_a1 = np.concatenate((next_state_data, a1), axis=1)
next_state_a2 = np.concatenate((next_state_data, a2), axis=1)
next_state_a3 = np.concatenate((next_state_data, a3), axis=1)

In [ ]:
next_state_a1 = np.float32(next_state_a1)
next_state_a2 = np.float32(next_state_a2)
next_state_a3 = np.float32(next_state_a3)

In [ ]:
next_state_a1

array([[1.0569105 , 1.0585365 , 1.0390244 , ..., 1.        , 0.        ,
        0.        ],
       [1.0785953 , 1.0852842 , 1.0652174 , ..., 1.        , 0.        ,
        0.        ],
       [1.1       , 1.101695  , 1.0881356 , ..., 1.        , 0.        ,
        0.        ],
       ...,
       [0.96990293, 0.9708738 , 0.95825243, ..., 1.        , 0.        ,
        0.        ],
       [0.96990293, 0.96990293, 0.9611651 , ..., 1.        , 0.        ,
        0.        ],
       [0.9495238 , 0.96190476, 0.947619  , ..., 1.        , 0.        ,
        0.        ]], dtype=float32)

In [ ]:
next_q_a1 = q_model.predict(next_state_a1)
next_q_a2 = q_model.predict(next_state_a2)
next_q_a3 = q_model.predict(next_state_a3)

In [ ]:
type(next_q_a1)

numpy.ndarray

In [ ]:
q_model_table = pd.DataFrame()
q_model_table["next_q_a1"] = next_q_a1.flatten()
q_model_table['next_q_a2'] = next_q_a2.flatten()
q_model_table['next_q_a3'] = next_q_a3.flatten()

In [ ]:
q_model_table['max']=''
q_model_table['argmax']=''
for i in range(len(q_model_table)):
  e = np.array([q_model_table.next_q_a1[i],q_model_table.next_q_a2[i],q_model_table.next_q_a3[i]])
  q_model_table['max'][i] = max(e)
  q_model_table['argmax'][i] = np.argmax(e)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
q_model_table

      next_q_a1  next_q_a2  next_q_a3       max argmax
0     -0.008504   0.008190  -0.003699   0.00819      1
1     -0.008570   0.007491  -0.004712  0.007491      1
2     -0.008128   0.007829  -0.003713  0.007829      1
3     -0.008304   0.008285  -0.004456  0.008285      1
4     -0.008496   0.007139  -0.004556  0.007139      1
...         ...        ...        ...       ...    ...
2685  -0.008470   0.007172  -0.005550  0.007172      1
2686  -0.008976   0.006368  -0.006659  0.006368      1
2687  -0.008670   0.006785  -0.005814  0.006785      1
2688  -0.008316   0.007235  -0.005783  0.007235      1
2689  -0.008826   0.006373  -0.006047  0.006373      1

[2690 rows x 5 columns]

In [ ]:
q_model_table.groupby('argmax').count()

        next_q_a1  next_q_a2  next_q_a3   max
argmax
1            2690       2690       2690  2690

## Q表更新q值

In [ ]:
data_train_update = df1[:2690].copy() #2690:2020/12/04-2020/12/31
data_train_update

,state,action,reward,next_state,q
0,OPEN MAX MIN CLOSE TIME ...,0,0.0,OPEN MAX MIN CLOSE TIME ...,0.0
1,OPEN MAX MIN CLOSE TIME ...,2,0.0,OPEN MAX MIN CLOSE TIME ...,0.0
2,OPEN MAX MIN CLOSE TIME ...,1,0.0,OPEN MAX MIN CLOSE TIME ...,0.0
3,OPEN MAX MIN CLOSE TIME ...,0,-0.011706,OPEN MAX MIN CLOSE TIME ...,-0.011706
4,OPEN MAX MIN CLOSE TIME ...,0,-0.032149,OPEN MAX MIN CLOSE TIME ...,-0.032149
...,...,...,...,...,...
2685,OPEN MAX MIN CLOSE TIME ...,0,0.001961,OPEN MAX MIN CLOSE TIME ...,0.001961
2686,OPEN MAX MIN CLOSE TIME ...,0,0.007828,OPEN MAX MIN CLOSE TIME ...,0.007828
2687,OPEN MAX MIN CLOSE TIME ...,0,0.0,OPEN MAX MIN CLOSE TIME ...,0.0
2688,OPEN MAX MIN CLOSE TIME ...,0,0.019417,OPEN MAX MIN CLOSE TIME ...,0.019417
2689,OPEN MAX MIN CLOSE TIME ...,2,0.009524,OPEN MAX MIN CLOSE TIME ...,0.009524

In [ ]:
discount_rate =0.2
for i in range(len(data_train_update)):
  data_train_update.q[i]=data_train_update.reward[i]+discount_rate*q_model_table['max'][i]

In [ ]:
data_train_update

,state,action,reward,next_state,q
0,OPEN MAX MIN CLOSE TIME ...,0,0.0,OPEN MAX MIN CLOSE TIME ...,0.004389
1,OPEN MAX MIN CLOSE TIME ...,2,0.0,OPEN MAX MIN CLOSE TIME ...,0.004335
2,OPEN MAX MIN CLOSE TIME ...,1,0.0,OPEN MAX MIN CLOSE TIME ...,0.004461
3,OPEN MAX MIN CLOSE TIME ...,0,-0.011706,OPEN MAX MIN CLOSE TIME ...,-0.007221
4,OPEN MAX MIN CLOSE TIME ...,0,-0.032149,OPEN MAX MIN CLOSE TIME ...,-0.027915
...,...,...,...,...,...
2685,OPEN MAX MIN CLOSE TIME ...,0,0.001961,OPEN MAX MIN CLOSE TIME ...,0.006305
2686,OPEN MAX MIN CLOSE TIME ...,0,0.007828,OPEN MAX MIN CLOSE TIME ...,0.01194
2687,OPEN MAX MIN CLOSE TIME ...,0,0.0,OPEN MAX MIN CLOSE TIME ...,0.00416
2688,OPEN MAX MIN CLOSE TIME ...,0,0.019417,OPEN MAX MIN CLOSE TIME ...,0.023651
2689,OPEN MAX MIN CLOSE TIME ...,2,0.009524,OPEN MAX MIN CLOSE TIME ...,0.013441

In [ ]:
action_p = np.random.rand()
epsilon = 0.85
for i in range(len(data_train_update)):
  if i>0:
    if action_p < epsilon:
      # 隨機動作
      data_train_update.action[i] = np.random.choice(3)
    else:
      # 由模型選擇action
      data_train_update.action[i] = q_model_table['argmax'][i]

In [ ]:
# Q表：計算reward、q
transaction(0,len(data_train_update)-1,data_train_update)

,state,action,reward,next_state,q
0,OPEN MAX MIN CLOSE TIME ...,0,0.0,OPEN MAX MIN CLOSE TIME ...,0.0
1,OPEN MAX MIN CLOSE TIME ...,1,0.0,OPEN MAX MIN CLOSE TIME ...,0.0
2,OPEN MAX MIN CLOSE TIME ...,0,0.013559,OPEN MAX MIN CLOSE TIME ...,0.013559
3,OPEN MAX MIN CLOSE TIME ...,0,-0.011706,OPEN MAX MIN CLOSE TIME ...,-0.011706
4,OPEN MAX MIN CLOSE TIME ...,0,-0.032149,OPEN MAX MIN CLOSE TIME ...,-0.032149
...,...,...,...,...,...
2685,OPEN MAX MIN CLOSE TIME ...,0,0.001961,OPEN MAX MIN CLOSE TIME ...,0.001961
2686,OPEN MAX MIN CLOSE TIME ...,0,0.007828,OPEN MAX MIN CLOSE TIME ...,0.007828
2687,OPEN MAX MIN CLOSE TIME ...,0,0.0,OPEN MAX MIN CLOSE TIME ...,0.0
2688,OPEN MAX MIN CLOSE TIME ...,0,0.019417,OPEN MAX MIN CLOSE TIME ...,0.019417
2689,OPEN MAX MIN CLOSE TIME ...,2,0.009524,OPEN MAX MIN CLOSE TIME ...,0.013441

## 新的訓練資料(再fit Model)

In [ ]:
data_train_update

,state,action,reward,next_state,q
0,OPEN MAX MIN CLOSE TIME ...,0,0.0,OPEN MAX MIN CLOSE TIME ...,0.0
1,OPEN MAX MIN CLOSE TIME ...,1,0.0,OPEN MAX MIN CLOSE TIME ...,0.0
2,OPEN MAX MIN CLOSE TIME ...,0,0.013559,OPEN MAX MIN CLOSE TIME ...,0.013559
3,OPEN MAX MIN CLOSE TIME ...,0,-0.011706,OPEN MAX MIN CLOSE TIME ...,-0.011706
4,OPEN MAX MIN CLOSE TIME ...,0,-0.032149,OPEN MAX MIN CLOSE TIME ...,-0.032149
...,...,...,...,...,...
2685,OPEN MAX MIN CLOSE TIME ...,0,0.001961,OPEN MAX MIN CLOSE TIME ...,0.001961
2686,OPEN MAX MIN CLOSE TIME ...,0,0.007828,OPEN MAX MIN CLOSE TIME ...,0.007828
2687,OPEN MAX MIN CLOSE TIME ...,0,0.0,OPEN MAX MIN CLOSE TIME ...,0.0
2688,OPEN MAX MIN CLOSE TIME ...,0,0.019417,OPEN MAX MIN CLOSE TIME ...,0.019417
2689,OPEN MAX MIN CLOSE TIME ...,2,0.009524,OPEN MAX MIN CLOSE TIME ...,0.013441

In [ ]:
# 丟入模型，Q表動作one-hot encoding
x_train_a = to_categorical(data_train_update.action,3)

# merge，x_train_state
merged_x_train = np.concatenate((x_train_state, x_train_a), axis=1)

In [ ]:
y_train = data_train_update['q'].values
# 拉平
y_train=y_train.ravel()

In [ ]:
# float64 修改成 float32
merged_x_train = np.float32(merged_x_train)
y_train = np.float32(y_train)

In [ ]:
# Fit the model 
q_model.fit(merged_x_train, y_train, validation_split=0.1, epochs=50, batch_size=30, verbose=1)

Epoch 1/50
81/81 [==============================] - 0s 2ms/step - loss: 0.0018 - val_loss: 2.9238e-04
Epoch 2/50
81/81 [==============================] - 0s 2ms/step - loss: 0.0016 - val_loss: 2.9131e-04
Epoch 3/50
81/81 [==============================] - 0s 2ms/step - loss: 0.0015 - val_loss: 3.0087e-04
Epoch 4/50
81/81 [==============================] - 0s 2ms/step - loss: 0.0014 - val_loss: 3.3290e-04
Epoch 5/50
81/81 [==============================] - 0s 2ms/step - loss: 0.0012 - val_loss: 3.1986e-04
Epoch 6/50
81/81 [==============================] - 0s 2ms/step - loss: 0.0013 - val_loss: 3.4667e-04
Epoch 7/50
81/81 [==============================] - 0s 2ms/step - loss: 0.0015 - val_loss: 3.2751e-04
Epoch 8/50
81/81 [==============================] - 0s 2ms/step - loss: 0.0016 - val_loss: 3.4364e-04
Epoch 9/50
81/81 [==============================] - 0s 2ms/step - loss: 0.0015 - val_loss: 3.7094e-04
Epoch 10/50
81/81 [==============================] - 0s 2ms/step - loss: 0.0013 - val_loss: 3.7634e-04
Epoch 11/50
81/81 [==============================] - 0s 2ms/step - loss: 0.0012 - val_loss: 4.0096e-04
Epoch 12/50
81/81 [==============================] - 0s 2ms/step - loss: 0.0012 - val_loss: 3.5222e-04
Epoch 13/50
81/81 [==============================] - 0s 2ms/step - loss: 0.0013 - val_loss: 4.0849e-04
Epoch 14/50
81/81 [==============================] - 0s 2ms/step - loss: 0.0012 - val_loss: 3.4133e-04
Epoch 15/50
81/81 [==============================] - 0s 2ms/step - loss: 0.0012 - val_loss: 3.1701e-04
Epoch 16/50
81/81 [==============================] - 0s 2ms/step - loss: 0.0016 - val_loss: 4.0609e-04
Epoch 17/50
81/81 [==============================] - 0s 2ms/step - loss: 0.0015 - val_loss: 3.2576e-04
Epoch 18/50
81/81 [==============================] - 0s 2ms/step - loss: 0.0010 - val_loss: 4.4667e-04
Epoch 19/50
81/81 [==============================] - 0s 2ms/step - loss: 0.0012 - val_loss: 3.5809e-04
Epoch 20/50
81/81 [==============================] - 0s 2ms/step - loss: 0.0012 - val_loss: 4.0920e-04
Epoch 21/50
81/81 [==============================] - 0s 2ms/step - loss: 0.0014 - val_loss: 3.4334e-04
Epoch 22/50
81/81 [==============================] - 0s 2ms/step - loss: 0.0010 - val_loss: 3.9466e-04
Epoch 23/50
81/81 [==============================] - 0s 2ms/step - loss: 0.0014 - val_loss: 3.8368e-04
Epoch 24/50
81/81 [==============================] - 0s 2ms/step - loss: 0.0012 - val_loss: 3.9221e-04
Epoch 25/50
81/81 [==============================] - 0s 2ms/step - loss: 0.0011 - val_loss: 4.1398e-04
Epoch 26/50
81/81 [==============================] - 0s 2ms/step - loss: 0.0013 - val_loss: 3.9303e-04
Epoch 27/50
81/81 [==============================] - 0s 2ms/step - loss: 0.0013 - val_loss: 3.8385e-04
Epoch 28/50
81/81 [==============================] - 0s 2ms/step - loss: 0.0011 - val_loss: 3.4056e-04
Epoch 29/50
81/81 [==============================] - 0s 2ms/step - loss: 0.0012 - val_loss: 3.9937e-04
Epoch 30/50
81/81 [==============================] - 0s 2ms/step - loss: 9.5012e-04 - val_loss: 4.2575e-04
Epoch 31/50
81/81 [==============================] - 0s 2ms/step - loss: 0.0010 - val_loss: 3.8119e-04
Epoch 32/50
81/81 [==============================] - 0s 2ms/step - loss: 0.0010 - val_loss: 3.9189e-04
Epoch 33/50
81/81 [==============================] - 0s 2ms/step - loss: 0.0010 - val_loss: 3.5587e-04
Epoch 34/50
81/81 [==============================] - 0s 2ms/step - loss: 0.0013 - val_loss: 4.1065e-04
Epoch 35/50
81/81 [==============================] - 0s 2ms/step - loss: 0.0011 - val_loss: 3.4741e-04
Epoch 36/50
81/81 [==============================] - 0s 2ms/step - loss: 9.4646e-04 - val_loss: 4.0239e-04
Epoch 37/50
81/81 [==============================] - 0s 2ms/step - loss: 0.0013 - val_loss: 4.7004e-04
Epoch 38/50
81/81 [==============================] - 0s 2ms/step - loss: 8.8481e-04 - val_loss: 4.3252e-04
Epoch 39/50
81/81 [==============================] - 0s 2ms/step - loss: 0.0012 - val_loss: 3.8729e-04
Epoch 40/50
81/81 [==============================] - 0s 2ms/step - loss: 0.0013 - val_loss: 3.8679e-04
Epoch 41/50
81/81 [==============================] - 0s 2ms/step - loss: 8.9197e-04 - val_loss: 3.8676e-04
Epoch 42/50
81/81 [==============================] - 0s 2ms/step - loss: 9.2700e-04 - val_loss: 3.9094e-04
Epoch 43/50
81/81 [==============================] - 0s 2ms/step - loss: 0.0010 - val_loss: 3.8804e-04
Epoch 44/50
81/81 [==============================] - 0s 2ms/step - loss: 8.6559e-04 - val_loss: 4.8207e-04
Epoch 45/50
81/81 [==============================] - 0s 2ms/step - loss: 0.0010 - val_loss: 3.3770e-04
Epoch 46/50
81/81 [==============================] - 0s 2ms/step - loss: 9.5987e-04 - val_loss: 3.9738e-04
Epoch 47/50
81/81 [==============================] - 0s 2ms/step - loss: 0.0012 - val_loss: 4.0527e-04
Epoch 48/50
81/81 [==============================] - 0s 2ms/step - loss: 8.6377e-04 - val_loss: 3.9980e-04
Epoch 49/50
81/81 [==============================] - 0s 2ms/step - loss: 9.7111e-04 - val_loss: 3.6195e-04
Epoch 50/50
81/81 [==============================] - 0s 2ms/step - loss: 8.8362e-04 - val_loss: 3.7222e-04

## 測試資料test

In [ ]:
# 2690:2020/12/04-2020/12/31
data_test = df1[2690:2934].copy()
data_test

,state,action,reward,next_state,q
2690,OPEN MAX MIN CLOSE TIME ...,0,0.0,OPEN MAX MIN CLOSE TIME ...,0.0
2691,OPEN MAX MIN CLOSE TIME ...,2,0.0,OPEN MAX MIN CLOSE TIME ...,0.0
2692,OPEN MAX MIN CLOSE TIME ...,2,0.0,OPEN MAX MIN CLOSE TIME ...,0.0
2693,OPEN MAX MIN CLOSE TIME ...,1,0.0,OPEN MAX MIN CLOSE TIME ...,0.0
2694,OPEN MAX MIN CLOSE TIME ...,0,0.026549,OPEN MAX MIN CLOSE TIME ...,0.026549
...,...,...,...,...,...
2929,OPEN MAX MIN CLOSE TIME ...,0,-0.0033,OPEN MAX MIN CLOSE TIME ...,-0.0033
2930,OPEN MAX MIN CLOSE TIME ...,0,0.003311,OPEN MAX MIN CLOSE TIME ...,0.003311
2931,OPEN MAX MIN CLOSE TIME ...,0,0.014851,OPEN MAX MIN CLOSE TIME ...,0.014851
2932,OPEN MAX MIN CLOSE TIME ...,0,0.001626,OPEN MAX MIN CLOSE TIME ...,0.001626
2933,OPEN MAX MIN CLOSE TIME ...,0,-0.001623,OPEN MAX MIN CLOSE TIME ...,-0.001623

In [ ]:
# data_test：state, next_state拉平
for i in range(len(data_test.state)):
  data_test.state[2690+i] = np.array(data_test.state[2690+i])
  data_test.state[2690+i] = data_test.state[2690+i].flatten()
for i in range(len(data_test.next_state)):
  data_test.next_state[2690+i]=np.array(data_test.next_state[2690+i])
  data_test.next_state[2690+i] = data_test.next_state[2690+i].flatten()

In [ ]:
for i in range(len(data_test)):
  data_test.state[2690+i] = data_test.state[2690+i]/df1.state[2690+i-1].CLOSE.iloc[-1]

In [ ]:
# 丟入模型，調整state維度
x_test_state = data_test.state

# 一個一個array合成一個大array
x_test_state =np.stack(x_test_state)
x_test_state

array([[0.94952381, 0.96190476, 0.94761905, ..., 1.00952381, 0.99809524,
        1.00952381],
       [0.96603774, 0.97169811, 0.95471698, ..., 1.01886792, 0.99622642,
        1.01132075],
       [0.95895522, 0.97947761, 0.94962687, ..., 1.01119403, 0.99813433,
        1.01119403],
       ...,
       [0.9884106 , 0.99337748, 0.97847682, ..., 1.00993377, 1.        ,
        1.00331126],
       [0.98349835, 0.9950495 , 0.98019802, ..., 1.01485149, 1.00660066,
        1.01485149],
       [0.98373984, 1.        , 0.97886179, ..., 1.00650407, 0.99837398,
        1.00162602]])

In [ ]:
a1 = np.array([[1.,0.,0.]]*len(x_test_state))
a2 = np.array([[0.,1.,0.]]*len(x_test_state))
a3 = np.array([[0.,0.,1.]]*len(x_test_state))

state_t_a1 = np.concatenate((x_test_state, a1), axis=1)
state_t_a2 = np.concatenate((x_test_state, a2), axis=1)
state_t_a3 = np.concatenate((x_test_state, a3), axis=1)

In [ ]:
q_a1 = q_model.predict(state_t_a1) 
q_a2 = q_model.predict(state_t_a2)
q_a3 = q_model.predict(state_t_a3)
q_a1 = q_a1.flatten()
q_a2 = q_a2.flatten()
q_a3 = q_a3.flatten()

In [ ]:
# test_data20天為1筆一一丟入模型，讓他選擇最大q值動作
test_table = pd.DataFrame()
test_table["q_a1"] = q_a1 # hold
test_table['q_a2'] = q_a2 # buy
test_table['q_a3'] = q_a3 # sell
test_table['max']=''
test_table['argmax']=''

for i in range(len(test_table)):
  k = np.array([test_table.q_a1[i],test_table.q_a2[i],test_table.q_a3[i]])
  test_table['max'][i] = max(k)
  test_table['argmax'][i] = np.argmax(k)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

In [ ]:
test_table

         q_a1      q_a2      q_a3       max argmax
0   -0.008826  0.006373 -0.006047  0.006373      1
1   -0.008632  0.006656 -0.006003  0.006656      1
2   -0.008337  0.006531 -0.005607  0.006531      1
3   -0.008330  0.007646 -0.005784  0.007646      1
4   -0.008363  0.007257 -0.005857  0.007257      1
..        ...       ...       ...       ...    ...
239 -0.008723  0.006703 -0.005901  0.006703      1
240 -0.008514  0.006956 -0.006054  0.006956      1
241 -0.008610  0.006500 -0.005984    0.0065      1
242 -0.008431  0.006351 -0.005528  0.006351      1
243 -0.008432  0.006402 -0.005891  0.006402      1

[244 rows x 5 columns]

In [ ]:
q_table_test=pd.DataFrame()
q_table_test['state'] = df1.state[2690:2934].copy()
q_table_test['action']=test_table.argmax.values
q_table_test['reward'] = ''
q_table_test['q']=''

In [ ]:
# 交易
transaction(2690,2690+len(q_table_test)-1,q_table_test)

,state,action,reward,q
2690,OPEN MAX MIN CLOSE TIME ...,1,0.0,0.0
2691,OPEN MAX MIN CLOSE TIME ...,0,0.011194,0.011194
2692,OPEN MAX MIN CLOSE TIME ...,0,0.012915,0.012915
2693,OPEN MAX MIN CLOSE TIME ...,0,0.029144,0.029144
2694,OPEN MAX MIN CLOSE TIME ...,0,0.026549,0.026549
...,...,...,...,...
2929,OPEN MAX MIN CLOSE TIME ...,0,-0.0033,-0.0033
2930,OPEN MAX MIN CLOSE TIME ...,0,0.003311,0.003311
2931,OPEN MAX MIN CLOSE TIME ...,0,0.014851,0.014851
2932,OPEN MAX MIN CLOSE TIME ...,0,0.001626,0.001626
2933,OPEN MAX MIN CLOSE TIME ...,1,,

In [ ]:
q_table_test.groupby('action').count()

        state  reward    q
action
0         242     242  242
1           2       2    2

# save output data

In [ ]:
q_table_test.to_csv('1.csv')

# save model

In [ ]:
q_model.save('q_model_1')

INFO:tensorflow:Assets written to: q_model_1/assets

In [ ]:
from google.colab import drive
drive.mount('/content/drive')